body {
    background-image: url(../images/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

#main {
    width: 800px;
    font-family: "Arima Madurai", cursive;
    background-color: rgb(158, 24, 120);
    opacity: 80%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    color: antiquewhite;
}

#container {
    width: 700px;
    background-color: tomato;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
    align-items: flex-start; 
}

.newcontainer {
    width: 600px;
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}